body {
    font-family: "Kanit", serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;

}



#menu-container {
    width: 100%;
    max-width: 1200px; /* จำกัดขนาดสูงสุดของเมนู */
    margin: auto;
    border-radius: 8px;

}

.text {
    text-align: center;
    font-size: 18px;
    margin: 5px auto;
}

#menu-items {
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* ทำให้ responsive */
}



.menu-item {
    background-color: #eee;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    min-width: auto;
    box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.336);

}

.menu-item h2 {
    margin: 0px 0px 10px 0px;
    font-size: 1.1em;
}



.menu-item .price {
    margin: 0px 0px 0px 0px;
    font-size: 1em;
    color: #e74c3c;
}


.menu-item footer {
    font-size: 0.9rem;
    color: #555;
    border-top: 1px solid #ddd;
    padding-top: 8px;
    margin-top: 12px;
}

.menu-image {
    background-color: #333;
    width: 40px;
    height: auto;
    border-radius: 8px;
}




.scroll-container {
    background-color: #72727249;
    display: grid;
    justify-content: center;
    height: 85vh;
    overflow-y: auto;
}

.scroll-content {
    line-height: 1.6;
}

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-track {
    background: #f0ebeb;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    border-radius: 10px;
    transform: 0.7s;
}


.head-main{
    justify-content: center;
    align-items: center;
    display: grid;
    padding-left: 5px;
    padding-right: 5px;
}

#category-select {
    font-family: "Kanit", serif;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
