body {
    font-family: "Kanit", serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  
}



#menu-container {
    width: 100%;
    border-radius: 8px;

}
.text{
    text-align: center;
    font-size: 18px;
    margin: 5px auto;
}

#menu-items {
    display: grid;

}



.menu-item {
    background-color: #eee;
    margin: 5px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.336);

}

.menu-item h2 {
    margin: 0px 100px 0px 0px;
    color: #333;
    font-weight: 300;
    font-size: 1em;
}


.menu-item .price {
    margin: 0px 0px 0px 0px;
    font-size: 1em;
    color: #e74c3c;
}

.menu-image {
    background-color: #333;
    width: 40px;
    height: auto;
    border-radius: 8px;
}


.scroll-container {
    background-color: #72727249;
    display: grid;
    justify-content: center;
    max-height: 85vh;
    overflow-y: auto;
}

.scroll-content {
    line-height: 1.6;
}

::-webkit-scrollbar {
    width: 7px;
  
  }
  
  ::-webkit-scrollbar-track {
    background: #f0ebeb;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    border-radius: 10px;
    transform: 0.7s;
  }
  
